# ASP.NET Core #
######################

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/

# Visual Studio files
.vs/
*.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.user
*.vspscc
*.vssscc
*_i.c
*_p.c
*.pidb
*.log
*.iobj
*.pdb
*.ipch/
obj/
[Ll]og/
[Bb]in/
[Dd]ebug*/
[Rr]elease*/
[Rr]eleases/
[Tt]est[Rr]esult*/
[Nn]ode[Tt]est[Bb]ezel*/


# NuGet
*.nuget.props
*.nuget.targets
*.lock.json
npm-debug.log
node_modules/
.bowerrc
bower_components/
jspm_packages/
# Package Files #
######################
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.bz2
*.xz
*.lz
*.lzma
*.tlz
*.7z
*.tgz
*.exe
*.dll
*.so
*.dylib
*.pdb
